.button {
  display: inline-block;
  vertical-align: baseline;
  border: none;
  background-color: transparent;
  text-decoration: none;
  padding: 13px 25px;
  border-radius: 5px;
  outline: none;
  white-space: nowrap;
}

.button--dark {
  background-color: #212B31;
  box-shadow: 0 0 0 2px #212B31;
  color: #fff;
}

.button--white {
  color: #212B31;
  box-shadow: inset 0 0 0 2px rgb(155, 152, 152);
  margin-left: 16px;
}
@include breakpoint-down (750) {
  .button {
    padding: 10px 20px;
  }
}
@include breakpoint-down (375) {
  .button {
    padding: 10px 20px;
  }
  .button--white {
    margin-top: 10px;
    margin-left: 0;
  }
}
