.construction {
  max-width: 1040px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 71px;
  padding-bottom: 71px;
  margin-right: auto;
  margin-left: auto;
}

.construction__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.construction__text {
  width: 1000px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.construction__img {
  width: 1040px;
  height: 304px;
}

@include breakpoint-down (1106) {
  .construction__heading {
    font-size: 40px;
    line-height: 50px;
  }
  .construction__text {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
  }
}
@include breakpoint-down (750) {
  .construction {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .construction__heading {
    font-size: 30px;
    line-height: 40px;
  }
  .construction__text {
    font-size: 16px;
    line-height: 28px;
  }
}
@include breakpoint-down (600) {
  .construction__heading {
    font-size: 25px;
    line-height: 35px;
  }
}
@include breakpoint-down (375) {
  .construction__img {
    height: auto;
  }
  .construction__heading {
    font-size: 16px;
    line-height: 20px;
  }
  .construction__text {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
}
