.features {
  max-width: 1095px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 71px;
  margin-right: auto;
  margin-left: auto;
}

.features__header {
  margin-top: 0;
  margin-bottom: 17px;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.features__text {
  max-width: 681px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 55px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #212B31;
}