.site-header {
  margin-bottom: 74px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  display: block;
  padding-top: 26px;
  padding-bottom: 26px;
}

.site-hrader__logo-img {
  display: block;
  max-width: 236px;
  height: 44px;
}

@include breakpoint-down (1106) {
  .site-hrader__logo-img {
    width: 200px;
  }
}

@include breakpoint-down (670) {
  .site-header__container {
    flex-direction: column;
    justify-content: center;
  }
}